@page "/"

<PageTitle>ReelWords</PageTitle>

<div class="game">
    <h1 class="title">ReelWords</h1>

    @if (GameState == null)
    {
        <h2 class="subtitle">Loading...</h2>
    }
    else
    {
        <h2 class="subtitle">Score: @GameState.Score</h2>

        <div class="reel-collection">
            @foreach (var slot in GameState.SlotMachine.Slots)
            {
                <div class="reel selectable @(GameState.Input.Slots.Any(s => s.Key == slot.Key) ? "selected" : "")"
                           @onclick="() => OnKeyPress(slot.Key)">
                    @slot.Letter
                    <div class="points">@slot.Points</div>
                </div>
            }
        </div>

        <div class="reel-collection input mb-lg-3">
            @foreach (var slot in GameState.Input.Slots)
            {
                <div class="reel">
                    @slot.Letter
                    <div class="points">@slot.Points</div>
                </div>
            }
        </div>

        <button class="btn btn-danger" @onclick="RemoveLetter">Remove letter</button>
        <button class="btn btn-primary" @onclick="SendWord">Send word</button>

        @if (GameState.IsWordValid == true)
        {
            <div class="subtitle mt-lg-3">
                <span class="word-valid">@GameState.Word</span> is a valid word, <span class="word-points">+@GameState.WordPoints points!</span>
            </div>
        }
        else if (GameState.IsWordValid == false)
        {
            <div class="subtitle mt-lg-3">
                <span class="word-invalid">@GameState.Word</span> is an invalid word!
            </div>
        }
    }
</div>