@page "/"

<PageTitle>ReelWords</PageTitle>

<div class="game">
    <h1 class="title">ReelWords</h1>

    @if (game == null)
    {
        <h2 class="subtitle">Loading...</h2>
    }
    else
    {
        <h2 class="subtitle">Score: @Score</h2>

        <div class="slotMachine">
            @foreach (var reel in Reels)
            {
                <div @onclick="() => OnKeyPress(reel.Key)" class="reel @(reel.IsSelected ? "selected" : "")">
                    @reel.Letter
                    <div class="points">@reel.Points</div>
                </div>
            }
        </div>

        <div class="input mb-lg-3">
            @foreach (var letter in Input)
            {
                <div>@letter</div>
            }
        </div>

        <button class="btn btn-danger" @onclick="RemoveLetter">Remove letter</button>
        <button class="btn btn-primary" @onclick="SendWord">Send word</button>

        @if (IsWordValid == true)
        {
            <div>
                @Word is a valid word, +@WordPoints points!"
            </div>
        }
        else if (IsWordValid == false)
        {
            <div>
                @Word is an invalid word!
            </div>
        }
    }
</div>